<template>
  <div class="sample">

    <form class="form-block">
      <div class="form-group">
        <label>City</label>
        <select v-model="selectedCity" @change="getDepartmentsList($event.target.value)">
          <option v-for="city in cities" :value="city.name" :key="city.id">
            {{ city.name }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>Department</label>
        <select v-model="selectedDepartment" @change="getEmployeeList($event.target.value)">
          <option v-for="department in departments" :value="department.id" :key="department.id">
            {{ department.name }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>Employee</label>
        <select v-model="selectedEmployee">
          <option v-for="employee in employees" :value="employee.name" :key="employee.id">
            {{ employee.name }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>Brigade</label>
        <select v-model="selectedBrigade">
          <option v-for="(item, i) in brigadesAll" :value="item.brigade" :key="i">
            {{ item.brigade }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>Shift</label>
        <select v-model="selectedShift">
          <option v-for="(item, i) in shiftsAll" :value="item.shift" :key="i">
            {{ item.shift }}
          </option>
        </select>
      </div>

      <button class="form-button" :disabled="!isEmpty" @click="sendData">
        Send Data
      </button>
    </form>
  </div>
</template>

<script>
import { useCookies } from "vue3-cookies";
export default {
  setup() {
    const { cookies } = useCookies();
    return { cookies };
  },
  data: () => ({
    selectedCity: null,
    selectedDepartment: null,
    selectedEmployee: null,
    selectedBrigade: null,
    selectedShift: null,
    cities: [{ "id": "1", "name": "Moscow" }, { "id": "2", "name": "Saint Petersburg" }],
    departments: [],
    departmentsAll: [
      { "cityId": "1", "id": "1", "name": "1 department" },
      { "cityId": "1", "id": "2", "name": "2 department" },
      { "cityId": "2", "id": "3", "name": "3 department" },
      { "cityId": "2", "id": "4", "name": "4 department" }
    ],
    employees: [],
    employeesAll: [
      { "depId": "1", "id": "1", "name": "Alexander" },
      { "depId": "1", "id": "2", "name": "Maria" },
      { "depId": "2", "id": "3", "name": "Alexei" },
      { "depId": "2", "id": "4", "name": "Olga" },
      { "depId": "3", "id": "1", "name": "Michael" },
      { "depId": "3", "id": "2", "name": "Egor" },
      { "depId": "4", "id": "3", "name": "Anastasia" },
      { "depId": "4", "id": "4", "name": "Darya" }
    ],
    brigadesAll: [
      { "brigade": "1 brigade" },
      { "brigade": "2 brigade" },
      { "brigade": "3 brigade" },
      { "brigade": "4 brigade" }
    ],
    shiftsAll: [
      { "shift": "1 shift" },
      { "shift": "2 shift" }
    ]
  }),
  computed: {
    isEmpty() {
      return (this.selectedCity !== null &&
              this.selectedDepartment !== null &&
              this.selectedEmployee !== null && 
              this.selectedBrigade !== null &&
              this.selectedShift !== null
              );
    }
  },
  methods: {
    getDepartmentsList(currCityName) {
      let selectedCity = this.cities.find(item => item.name == currCityName);
      this.departments = this.departmentsAll.filter(city => city.cityId == selectedCity.id);
    },
    getEmployeeList(currDepartmentId) {
      this.employees = this.employeesAll.filter(employee => employee.depId == currDepartmentId);
    },
    sendData() {
      let formData = { 
        city: this.selectedCity,
        department: this.selectedDepartment,
        employee: this.selectedEmployee,
        brigade: this.selectedBrigade,
        shift: this.selectedShift 
      };
      let JsonFormData = JSON.stringify(formData);
      this.cookies.set('formData', JsonFormData);
    }
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  font-size: 16px;
}

.sample {
  max-width: 1170px;
  margin: 0 auto;
}

.form-block {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;
}

.form-group {
  margin: 0 0 30px 0;
}

.form-group label {
  display: flex;
  margin: 0 0 10px 0;
}

.form-group select {
  min-width: 300px;
  padding: 7px 7px;
  font-size: 16px;
}

.form-group select option {
  font-size: 16px;
}

.form-button {
  cursor: pointer;
  padding: 7px 0;
}
</style>
